<div class="layout-image" draggable="true">
	<div class='layout-clear'>
		<button class='layout-remove'></button>
	</div>
	<div class='layout-image-icon'></div>
	<div class='image-text'>ADD IMAGE +</div>
</div>