<div class="layout-image" draggable="true" ondragstart="event.dataTransfer.setData('text/plain', 'This text may be dragged')">
	<div class='layout-clear'>
		<button class='layout-remove'></button>
	</div>
	<div class='layout-image-icon'></div>
	<div class='image-text'>ADD IMAGE +</div>
</div>