<form class='page-link'>
	<input class='page-input-edit' type='text' name='title'
		value='<%= page.escape('title') %>' placeholder="EDIT PAGE TITLE">
	<button class='page-edit update' type='submit'></button>
</form>