<div class='section'>
	<div class='section-title'> TEMPLATES </div>
	<div class='section-body'> 
		<div class='page-items'></div>
		<div class='page-item'>
			<form class='page-new'>
				<input class='page-input' name='title' type='text' placeholder="ADD NEW PAGE">
				<button class='page-add' type='submit'></button>
			</form>
		</div>
	</div>
</div>
<div class='section'>
	<div class='section-title'> ELEMENTS </div>
	<div class='section-body2'>

		<div class='elements right bottom'>
			<div id='title' draggable="true"></div>
			<div class='element-text'>TITLE</div>
		</div>
		<div class='elements bottom'>
			<div id='text' draggable="true"></div>
			<div class='element-text'>TEXT</div>
		</div>
		<div class='elements right'>
			<div id='image' draggable="true"></div>
			<div class='element-text'>IMAGE</div>
		</div>
		<div class='elements'>
			<div id='nav' draggable="true"></div>
			<div class='element-text'>NAV</div>
		</div>
	</div>
</div>
<div class='section'><div class='section-end'></div></div>