<div class="layout" draggable="true">
	<div class='layout-clear'><div class='layout-move'>:::</div></div>
	<textarea class='layout-text' placeholder='Lorem ipsum dolor sit amet, vitae postea nam eu. Purto duis molestie in qui. Eam ea minim novum accumsan. Porro fuisset in ius, id augue minim vix. At mei impetus liberavisse signiferumque. Accommodare reprehendunt in pro. Minim petentium maluisset vim an, ea sea homero lobortis. Ex alia labores veritus sed, sed tamquam conclusionemque no. Ne tota efficiantur nam, duo an eripuit perfecto intellegam, in iisque luptatum vix. An cum quod illum tempor, ea odio scaevola consulatu est. Nemore melius recusabo ex mea, sed nostrud facilisi ei.'></textarea>
	<div class='layout-clear'><div class='layout-resize'></div></div>
</div>