<div class="layout" draggable="true" ondragstart="event.dataTransfer.setData('text/plain', 'This text may be dragged')">
	<div class='layout-clear'>
		<div class='layout-move'>:::</div>
		<button class='layout-remove'></button>
	</div>
	<textarea class='layout-title' placeholder='ENTER TITLE'></textarea>
	<div class='layout-clear'><div class='layout-resize'></div></div>
</div>